<div class="wrapper">
    <!-- Sidebar  -->
    <%- include ("./partials/sidebars") %>

    <!-- TOP Nav Bar -->
    <%- include ("./partials/navbar") %>
    <!-- TOP Nav Bar END -->
    <!-- Page Content  -->

    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Top selling product</h4>
                            </div>
                            <div class="iq-card-header-toolbar d-flex align-items-center">
                                <div class="dropdown">
                                    <span class="dropdown-toggle" id="dropdownMenuButton1" data-toggle="dropdown">
                                        <i class="ri-more-fill"></i>
                                    </span>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" style="">
                                        <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                                        <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                                        <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                                        <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                                        <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div class="m-auto d-block text-center pb-3">
                                <div class="iq-user mb-3">
                                    <img class="avatar-70 rounded-circle" src="/images/user/03.jpg" alt="" />
                                </div>
                                <h5 class="mb-0">Product Name</h5>
                                <p class="text-primary">245 Hits</p>
                            </div>
                            <%= annual %>
                            <ul class="d-flex align-items-center list-inline p-0 m-0 text-center">
                                <li class="col-md-4">
                                    <div class="iq-user mb-3">
                                        <img class="avatar-70 rounded-circle" src="/images/user/04.jpg" alt="" />
                                    </div>
                                    <h5 class="mb-0">Product Name</h5>
                                    <p class="text-primary mb-0">500 Hits</p>
                                </li>
                                <li class="col-md-4">
                                    <div class="iq-user mb-3">
                                        <img class="avatar-70 rounded-circle" src="/images/user/05.jpg" alt="" />
                                    </div>
                                    <h5 class="mb-0">product name</h5>
                                    <p class="text-primary mb-0">302 Hits</p>
                                </li>
                                <li class="col-md-4">
                                    <div class="iq-user mb-3">
                                        <img class="avatar-70 rounded-circle" src="/images/user/07.jpg" alt="" />
                                    </div>
                                    <h5 class="mb-0">Product Name</h5>
                                    <p class="text-primary mb-0">60 Hits</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="iq-card iq-card-block iq-card-stretch">
                                <div class="iq-card-body">
                                    <div class="d-flex align-items-center justify-content-between mb-2">
                                        <div class="ml-2">
                                            <h5 class="mb-1">Total Followers</h5>
                                            <% let count = 0 %>
                                            <% for (let i of products) { %>
                                               <% count += i.brands.followers.length %>
                                            <% } %>
                                            <span class="h4 text-dark mb-0 counter d-inline-block w-100"><%= count %></span>
                                        </div>
                                        <div class="icon iq-icon-box bg-primary rounded-circle m-0" data-wow-delay="0.2s">
                                            <i class="fa fa-users"></i>
                                        </div>
                                    </div>
                                </div>
                                <div id="service-chart-01"></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="iq-card iq-card-block iq-card-stretch">
                                <div class="iq-card-body">
                                    <div class="d-flex align-items-center justify-content-between mb-2">
                                        <div class="ml-2">
                                            <h5 class="mb-1">Monthly sales</h5>
                                            <span class="h4 text-dark mb-0 counter d-inline-block w-100">48,625</span>
                                        </div>
                                        <div class="icon iq-icon-box bg-success rounded-circle m-0" data-wow-delay="0.2s">
                                            <i class="fa fa-usd"></i>
                                        </div>
                                    </div>
                                </div>
                                <div id="service-chart-02"></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="iq-card iq-card-block iq-card-stretch">
                                <div class="iq-card-body">
                                    <div class="d-flex align-items-center justify-content-between mb-2">
                                        <div class="ml-2">
                                            <h5 class="mb-1">Yearly Sales</h5>
                                            <span class="h4 text-dark mb-0 counter d-inline-block w-100">35,859</span>
                                        </div>
                                        <div class="icon iq-icon-box bg-danger rounded-circle m-0" data-wow-delay="0.2s">
                                            <i class="fa fa-money"></i>
                                        </div>
                                    </div>
                                </div>
                                <div id="service-chart-03"></div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="iq-card iq-card-block iq-card-stretch">
                                <div class="iq-card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="icon iq-icon-box rounded iq-bg-primary mr-3">
                                            <i class="ri-home-8-line"></i>
                                        </div>
                                        <div class="iq-details col-sm-9 p-0">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <span class="title text-dark">Follower's Millstone</span>
                                                <div class="text-primary">
                                                    <b><span></span> 230 </b>
                                                </div>
                                            </div>
                                            <span class="">38 follower's</span>
                                            <div class="iq-progress-bar-linear d-inline-block w-100">
                                                <div class="iq-progress-bar">
                                                    <span class="bg-primary" data-percent="32"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="mt-2 mb-2" />
                                    <div class="d-flex align-items-center">
                                        <div class="icon iq-icon-box rounded iq-bg-info mr-3">
                                            <i class="ri-bank-line"></i>
                                        </div>
                                        <div class="iq-details col-sm-9 p-0">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <span class="title text-dark">Sales's Millstone</span>
                                                <div class="text-info">
                                                    <b><span>$</span> 1100 </b>
                                                </div>
                                            </div>
                                            <span class=""> $11000 sales made </span>
                                            <div class="iq-progress-bar-linear d-inline-block w-100">
                                                <div class="iq-progress-bar">
                                                    <span class="bg-info" data-percent="60"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-5">
                            <div class="iq-card iq-card-block iq-card-stretch iq-card-height" style="background: transparent;">
                                <div class="iq-card-body rounded p-0" style="background: url(images/page-img/01.png) no-repeat; background-size: cover; height: 423px;">
                                    <div class="iq-caption">
                                        <h1>450</h1>
                                        <p>Invoice</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Order activity</h4>
                            </div>
                            <div class="iq-card-header-toolbar d-flex align-items-center">
                                <div class="dropdown">
                                    <span class="dropdown-toggle" id="dropdownMenuButton1" data-toggle="dropdown">
                                        <i class="ri-more-fill"></i>
                                    </span>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" style="">
                                        <a class="dropdown-item" href="/order"><i class="ri-eye-fill mr-2"></i>View</a>
                                        <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                                        <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                                        <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                                        <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <ul class="suggestions-lists m-0 p-0">
                                <li class="d-flex mb-4 align-items-center">
                                    <div class="profile-icon iq-bg-success">
                                        <span><i class="ri-check-fill"></i></span>
                                    </div>
                                    <div class="media-support-info ml-3">
                                        <h6>Camelun ios</h6>
                                        <p class="mb-0"><span class="text-success">17 paid</span> month out of 23</p>
                                    </div>
                                    <div class="media-support-amount ml-3">
                                        <h6><span class="text-secondary">$</span><b> 12,434.00</b></h6>
                                        <p class="mb-0">per month</p>
                                    </div>
                                </li>
                                <li class="d-flex mb-4 align-items-center">
                                    <div class="profile-icon iq-bg-warning">
                                        <span><i class="ri-check-fill"></i></span>
                                    </div>
                                    <div class="media-support-info ml-3">
                                        <h6>React</h6>
                                        <p class="mb-0"><span class="text-warning">Late payment 12 week</span> - pay invoice</p>
                                    </div>
                                    <div class="media-support-amount ml-3">
                                        <h6><span class="text-secondary">$</span><b> 12,434.00</b></h6>
                                        <p class="mb-0">per month</p>
                                    </div>
                                </li>
                                <li class="d-flex mb-4 align-items-center">
                                    <div class="profile-icon iq-bg-success">
                                        <span><i class="ri-check-fill"></i></span>
                                    </div>
                                    <div class="media-support-info ml-3">
                                        <h6>Camelun ios</h6>
                                        <p class="mb-0"><span class="text-success">17 paid</span> month out of 23</p>
                                    </div>
                                    <div class="media-support-amount ml-3">
                                        <h6><span class="text-secondary">$</span><b> 12,434.00</b></h6>
                                        <p class="mb-0">per month</p>
                                    </div>
                                </li>
                                <li class="d-flex mb-4 align-items-center">
                                    <div class="profile-icon iq-bg-danger">
                                        <span><i class="ri-check-fill"></i></span>
                                    </div>
                                    <div class="media-support-info ml-3">
                                        <h6>Camelun ios</h6>
                                        <p class="mb-0"><span class="text-danger">17 paid</span> month out of 23</p>
                                    </div>
                                    <div class="media-support-amount ml-3">
                                        <h6><span class="text-secondary">$</span><b> 12,434.00</b></h6>
                                        <p class="mb-0">per month</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between border-none">
                            <div class="iq-header-title">
                                <h5 class="card-title">Customer Distribution</h5>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div id="world-map" style="height: 200px; position: relative;"></div>
                        </div>
                        
                        <div class="iq-card" style="box-shadow: none;">
               <div class="iq-card-header d-flex justify-content-between">
                  <div class="iq-header-title">
                     <h4 class="card-title">Countries</h4>
                  </div>
                  <div class="iq-card-header-toolbar d-flex align-items-center">
                     <div class="dropdown">
                        <span class="dropdown-toggle text-primary" id="dropdownMenuButton6" data-toggle="dropdown">
                        <i class="ri-more-2-fill"></i>
                        </span>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton6">
                           <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                           <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                           <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                           <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                           <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="iq-card-body">
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="iq-details">
                           <span class="title text-dark">United States</span>
                           <div class="percentage float-right text-primary">95 <span>%</span></div>
                           <div class="iq-progress-bar-linear d-inline-block w-100">
                              <div class="iq-progress-bar">
                                 <span class="bg-primary" data-percent="95"></span>
                              </div>
                           </div>
                        </div>
                        <div class="iq-details mt-3">
                           <span class="title text-dark">India</span>
                           <div class="percentage float-right text-warning">75 <span>%</span></div>
                           <div class="iq-progress-bar-linear d-inline-block w-100">
                              <div class="iq-progress-bar">
                                 <span class="bg-warning" data-percent="75"></span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
                    </div>
                    
                    
                </div>
                <div class="col-lg-4">
                    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Top Customers by number of sale's made</h4>
                            </div>
                            <div class="iq-card-header-toolbar d-flex align-items-center">
                                <div class="dropdown">
                                    <span class="dropdown-toggle" id="dropdownMenuButton1" data-toggle="dropdown">
                                        <i class="ri-more-fill"></i>
                                    </span>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" style="">
                                        <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                                        <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                                        <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                                        <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                                        <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <ul class="list-inline p-0 m-0">
                                <li class="d-flex mb-3 align-items-center p-3 sell-list border-primary rounded">
                                    <div class="user-img img-fluid">
                                        <img src="/images/user/01.jpg" alt="story-img" class="img-fluid rounded-circle avatar-40" />
                                    </div>
                                    <div class="media-support-info ml-3">
                                        <h6>Pete Sariya</h6>
                                    </div>
                                    <div class="iq-card-header-toolbar d-flex align-items-center">
                                        <div class="badge badge-pill badge-primary">$157</div>
                                    </div>
                                </li>
                                <li class="d-flex mb-3 align-items-center p-3 sell-list border-success rounded">
                                    <div class="user-img img-fluid">
                                        <img src="/images/user/02.jpg" alt="story-img" class="img-fluid rounded-circle avatar-40" />
                                    </div>
                                    <div class="media-support-info ml-3">
                                        <h6>Anna Mull</h6>
                                    </div>
                                    <div class="iq-card-header-toolbar d-flex align-items-center">
                                        <div class="badge badge-pill badge-success">$280</div>
                                    </div>
                                </li>
                                <li class="d-flex mb-3 align-items-center p-3 sell-list border-danger rounded">
                                    <div class="user-img img-fluid">
                                        <img src="/images/user/03.jpg" alt="story-img" class="img-fluid rounded-circle avatar-40" />
                                    </div>
                                    <div class="media-support-info ml-3">
                                        <h6>Alex john</h6>
                                    </div>
                                    <div class="iq-card-header-toolbar d-flex align-items-center">
                                        <div class="badge badge-pill badge-danger">$200</div>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center p-3 sell-list border-info rounded">
                                    <div class="user-img img-fluid">
                                        <img src="/images/user/04.jpg" alt="story-img" class="img-fluid rounded-circle avatar-40" />
                                    </div>
                                    <div class="media-support-info ml-3">
                                        <h6>Cliff Hanger</h6>
                                    </div>
                                    <div class="iq-card-header-toolbar d-flex align-items-center">
                                        <div class="badge badge-pill badge-info">$150</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Order Status</h4>
                            </div>
                            <div class="iq-card-header-toolbar d-flex align-items-center">
                                <div class="dropdown">
                                    <span class="dropdown-toggle" id="dropdownMenuButton3" data-toggle="dropdown">
                                        <i class="ri-more-fill"></i>
                                    </span>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton3" style="">
                                        <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                                        <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                                        <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                                        <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                                        <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div class="table-responsive">
                                <table class="table mb-0 table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">Order No</th>
                                            <th scope="col">Customers</th>
                                            <th scope="col">Location</th>
                                            <th scope="col">Order Date</th>
                                            <th scope="col">Fulfillment date</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>#1234</td>
                                            <td>
                                                <div class="iq-media-group">
                                                    <a href="#" class="iq-media">
                                                        <img class="img-fluid avatar-30 rounded-circle" src="/images/user/05.jpg" alt="" />
                                                    </a>
                                                    
                                                </div>
                                            </td>
                                            <td>Clifton, USA</td>
                                            
                                            <td>16/01/2020</td>
                                            <td>16/01/2020</td>
                                            <td>
                                                <div class="badge badge-pill badge-success">Fulfilled</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#1234</td>
                                            <td>
                                                <div class="iq-media-group">
                                                    <a href="#" class="iq-media">
                                                        <img class="img-fluid avatar-30 rounded-circle" src="/images/user/05.jpg" alt="" />
                                                    </a>
                                                    
                                                </div>
                                            </td>
                                            <td>Clifton, USA</td>
                                            
                                            <td>16/01/2020</td>
                                            <td>16/01/2020</td>
                                            <td>
                                                <div class="badge badge-pill badge-danger">Panding</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#1234</td>
                                            <td>
                                                <div class="iq-media-group">
                                                    <a href="#" class="iq-media">
                                                        <img class="img-fluid avatar-30 rounded-circle" src="/images/user/05.jpg" alt="" />
                                                    </a>
                                                    
                                                </div>
                                            </td>
                                            <td>Clifton, USA</td>
                                            
                                            <td>16/01/2020</td>
                                            <td>16/01/2020</td>
                                            <td>
                                                <div class="badge badge-pill badge-success">Fulfilled</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#1234</td>
                                            <td>
                                                <div class="iq-media-group">
                                                    <a href="#" class="iq-media">
                                                        <img class="img-fluid avatar-30 rounded-circle" src="/images/user/05.jpg" alt="" />
                                                    </a>
                                                   
                                                </div>
                                            </td>
                                            <td>Clifton, USA</td>
                                          
                                            <td>16/01/2020</td>
                                            <td>16/01/2020</td>
                                            <td>
                                                <div class="badge badge-pill badge-danger">Panding</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#1234</td>
                                            <td>
                                                <div class="iq-media-group">
                                                    <a href="#" class="iq-media">
                                                        <img class="img-fluid avatar-30 rounded-circle" src="/images/user/05.jpg" alt="" />
                                                    </a>
                                                   
                                                </div>
                                            </td>
                                            <td>Clifton, USA</td>
                                            
                                            <td>16/01/2020</td>
                                            <td>16/01/2020</td>
                                            <td>
                                                <div class="badge badge-pill badge-success">Fulfilled</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#1234</td>
                                            <td>
                                                <div class="iq-media-group">
                                                    <a href="#" class="iq-media">
                                                        <img class="img-fluid avatar-30 rounded-circle" src="/images/user/05.jpg" alt="" />
                                                    </a>
                                                   
                                                </div>
                                            </td>
                                            <td>Clifton, USA</td>
                                           
                                            <td>16/01/2020</td>
                                            <td>16/01/2020</td>
                                            <td>
                                                <div class="badge badge-pill badge-danger">Panding</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            
            
            
               <div class="row">
                 <div class="col-lg-12">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Best Performing Posts</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <ul id="post-slider" class="p-0 m-0 d-flex">
                              <li class="d-flex align-items-center">
                                 <div class="post-image">
                                    <a href="javascript:void();">
                                       <img src="/images/page-img/p-2.jpg" alt="post-image" class="img-fluid rounded">
                                    </a>
                                 </div>
                                 <div class="post-content pl-3">
                                    <h4>How to Like Posts</h4>
                                    <h3 class="mt-2 mb-2">89.64%</h3>
                                    <div class="iq-progress-bar mb-3">
                                       <span class="bg-primary" data-percent="90"></span>
                                    </div>
                                    <div class="text-center d-flex align-items-center justify-content-between">
                                       <div class="iq-post-likes text-left">
                                          <a href="#" class="text-secondary"><i class="ri-heart-line mr-2"></i>6.2K</a>
                                       </div>
                                       <div class="iq-post-comments text-left ml-2 mr-2">
                                          <a href="#" class="text-secondary"><i class="ri-chat-1-fill mr-2"></i>6.2K</a>
                                       </div>
                                       <div class="iq-post-save text-left">
                                          <a href="#" class="text-secondary"><i class="ri-save-line mr-2"></i>6.2K</a>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                              <li class="d-flex align-items-center">
                                 <div class="post-image">
                                    <a href="javascript:void();">
                                       <img src="/images/page-img/p-3.jpg" alt="post-image" class="img-fluid rounded">
                                    </a>
                                 </div>
                                 <div class="post-content pl-3">
                                    <h4>How to Comments Posts</h4>
                                    <h3 class="mt-2 mb-2">89.64%</h3>
                                    <div class="iq-progress-bar mb-3">
                                       <span class="bg-primary" data-percent="90"></span>
                                    </div>
                                    <div class="text-center d-flex align-items-center justify-content-between">
                                       <div class="iq-post-likes text-left">
                                          <a href="#" class="text-secondary"><i class="ri-heart-line mr-2"></i>6.2K</a>
                                       </div>
                                       <div class="iq-post-comments text-left ml-2 mr-2">
                                          <a href="#" class="text-secondary"><i class="ri-chat-1-fill mr-2"></i>6.2K</a>
                                       </div>
                                       <div class="iq-post-save text-left">
                                          <a href="#" class="text-secondary"><i class="ri-save-line mr-2"></i>6.2K</a>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                              <li class="d-flex align-items-center">
                                 <div class="post-image">
                                    <a href="javascript:void();">
                                       <img src="/images/page-img/p-4.jpg" alt="post-image" class="img-fluid rounded">
                                    </a>
                                 </div>
                                 <div class="post-content pl-3">
                                    <h4>How to Share Posts</h4>
                                    <h3 class="mt-2 mb-2">89.64%</h3>
                                    <div class="iq-progress-bar mb-3">
                                       <span class="bg-primary" data-percent="90"></span>
                                    </div>
                                    <div class="text-center d-flex align-items-center justify-content-between">
                                       <div class="iq-post-likes text-left">
                                          <a href="#"><i class="ri-heart-line mr-2"></i>6.2K</a>
                                       </div>
                                       <div class="iq-post-comments text-left ml-2 mr-2">
                                          <a href="#"><i class="ri-chat-1-fill mr-2"></i>6.2K</a>
                                       </div>
                                       <div class="iq-post-save text-left">
                                          <a href="#"><i class="ri-save-line mr-2"></i>6.2K</a>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                              <li class="d-flex align-items-center">
                                 <div class="post-image">
                                    <a href="javascript:void();">
                                       <img src="/images/page-img/p-5.jpg" alt="post-image" class="img-fluid rounded">
                                    </a>
                                 </div>
                                 <div class="post-content pl-3">
                                    <h4>How to Repost </h4>
                                    <h3 class="mt-2 mb-2">89.64%</h3>
                                    <div class="iq-progress-bar mb-3">
                                       <span class="bg-primary" data-percent="90"></span>
                                    </div>
                                    <div class="text-center d-flex align-items-center justify-content-between">
                                       <div class="iq-post-likes text-left">
                                          <a href="#" class="text-secondary"><i class="ri-heart-line mr-2"></i>6.2K</a>
                                       </div>
                                       <div class="iq-post-comments text-left ml-2 mr-2">
                                          <a href="#" class="text-secondary"><i class="ri-chat-1-fill mr-2"></i>6.2K</a>
                                       </div>
                                       <div class="iq-post-save text-left">
                                          <a href="#" class="text-secondary"><i class="ri-save-line mr-2"></i>6.2K</a>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
    </div>
</div>

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    