<div class="wrapper">
    <!-- Sidebar  -->
    <%- include ("./partials/sidebars") %>

    <!-- TOP Nav Bar -->
    <%- include ("./partials/navbar") %>
    <!-- TOP Nav Bar END -->

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Order List</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <% if (orders.length > 0) { %>
                            <div class="table-responsive">
                                <div class="row justify-content-between">
                                    <div class="col-sm-12 col-md-6">
                                        <div id="user_list_datatable_info" class="dataTables_filter">
                                            <form class="mr-3 position-relative">
                                                <div class="form-group mb-0">
                                                    <label for="">Search by Order N°</label>
                                                    <input type="search" class="form-control" id="exampleInputSearch" placeholder="Search" aria-controls="user-list-table" />   
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="user-list-files d-flex float-right">
                                            <a class="iq-bg-primary" href="javascript:void();">
                                                Print
                                            </a>
                                            <a class="iq-bg-primary" href="javascript:void();">
                                                Excel
                                            </a>
                                            <a class="iq-bg-primary" href="javascript:void();">
                                                Pdf
                                            </a>
                                        </div>
                                        <%- include ('./partials/messages') %>
                                    </div>
                                </div>
                                <table id="table-editable" class="table table-striped table-bordered mt-4" role="grid" aria-describedby="user-list-page-info">
                                    <span class="table-add float-right mb-3 mr-2">
                                        <span class="pl-1"><a class="btn btn-success p-2 m-2" href="/order/add">Add
                                              New</a></span>
                                     </span>
                                    <thead>
                                        <tr>
                                            <th>Order No</th>
                                            <th>Profile</th>
                                            <th>Name</th>
                                            <th>Contact</th>
                                            <th>Email</th>
                                            <th>Country</th>
                                            <th>Status</th>
                                            <th>Shipping Address</th>
                                            <th>Order Date</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (let order of orders) { %>
                                            <tr>
                                                <td><%= order.order_id %></td>
                                                <td class="text-center"><img class="rounded-circle img-fluid avatar-40"
                                                    src="/<%= order.customer.picture %>" alt="profile"></td>
                                                <td><%= order.customer.full_name %></td>
                                                <td><%= order.customer.phone %></td>
                                                <td><%= order.customer.email %></td>
                                                <td><%= order.customer.country %></td>
                                                <td><span class="badge iq-bg-primary"><%= user.status %></span></td>
                                                <td><%= order.shipping_address %></td>
                                                <td><%= order.created_at %></td>
                                                <td>
                                                    <% if (order.status === "pending") { %>
                                                      <div class="badge badge-pill badge-danger">Pending</div>
                                                    <% } else if (order.status === "fulfilled") { %>
                                                        <div class="badge badge-pill badge-success">Fulfilled</div>
                                                    <% } else { %>
                                                        <div class="badge badge-pill  badge-info">Retuned</div>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <div class="flex align-items-center list-user-action">
                                                        <form action="/order/delete" method="post" onSubmit="return confirm('Are you sure you wish to delete?');">
                                                            <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Open" href="/invoice/<%= order._id %>"><i class="fa fa-envelope-open"></i></a>

                                                            <input type="hidden" name="_id" value="<%= order._id %>">
                                                            <button class="iq-bg-primary" style="border: 0px;" data-toggle="tooltip"
                                                            data-placement="top" title="" data-original-title="Delete"><i
                                                               class="ri-delete-bin-line"></i></button>
                                                       </form>
                                                    </div>
                                                </td>
                                           </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                                   </div>
                                </div>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <% } else { %>
                        <span class="table-add mb-5 mr-2">
                            <span class="pl-1">
                               <a class="btn btn-sm iq-bg-success" href="/order/add">Add New</a>
                            </span>
                         </span>
                        <h4 class="mt-5">No orders so far.</h4>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#exampleInputSearch").autocomplete({
            source: async function(request, response) {
                let data = await fetch(`/search?query=${request.term}`)
                    .then(results => results.json())
                    .then(results => results.map(result => {
                        return { label: result.order_id, href: result._id };
                    }))
                    .catch(err => console.log(err))
                response(data);
            },
            select: function(evt, ui) { 
                window.location.href = `/invoice/${ui.item.href}`;
            }
        });
    });
</script>
