<section class="sign-in-page">
    <div class="container bg-white mt-5 p-0">      
        <div class="row no-gutters">
            <div class="col-sm-6 align-self-center">
                <div class="sign-in-from">
                    <h1 class="mb-0">Sign Up</h1>
                    <%- include ('./partials/messages') %>
                    <form method="POST" action="/app/register" class="mt-4" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="exampleInputEmail1">First Name</label>
                            <input type="text" class="form-control mb-0" id="first_name" name="first_name" placeholder="Your First Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Last Name</label>
                            <input type="text" class="form-control mb-0" id="last_name" name="last_name" placeholder="Your Last Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail2">Email address</label>
                            <input type="email" class="form-control mb-0" id="email" name="username" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control mb-0" id="password" name="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Confirm Password</label>
                            <input type="password" class="form-control mb-0" id="c_password" name="c_password" placeholder="Confirm Password">
                        </div>
                        <h3>Brand Name</h3>
                        <div class="col-md-12 mb-3">
                            <label for="validationDefault01">Brand name</label>
                            <input type="text" class="form-control" id="validationDefault01" name="brandName" placeholder="Brand Name" required>          
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="validationDefault01">Upload Brand Logo</label>
                            <input type="file" id="validationDefault01" name="uploadPicture" placeholder="Upload Picture" required>
                        </div>
                        <input type="hidden" name="role" value="salers" />
                        <div class="d-inline-block w-100">
                            <button type="submit" class="btn btn-primary float-left">Sign Up</button>
                        </div>
                        <div class="sign-info">
                            <span class="dark-color d-inline-block line-height-2">Already Have Account ? <a href="/">Log In</a></span>
                        </div>
                    </form>
                </div>
            </div>
            <%- include ('./partials/sign_log_carousel') %>
        </div>
    </div>
</section>